{% extends 'templates/app.twig' %}


{% block content %}

    <section class="page-slider parallax-bg5 parallax">
        <div class="mask"></div>

        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <a href="{{ path_for('home-page') }}">Home</a> / About
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="entry-page">
        <section class="roll-row">
            <div class="aside-image right">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 content col-sm-8">
                            <div class="content-wrap">
                                <h2>The <strong>history</strong> of our <strong>restaurant</strong></h2>
                                <p class="history-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                    mollis in ipsum eu
                                    pretium. Sed auctor augue at vestibulum euismod. Integer feugiat nisi id lectus
                                    rhoncus euismod ac vel urna. Nunc non venenatis magna, quis congue justo. Cras
                                    rhoncus arcu dolor, vitae semper elit tincidunt vel. Cras placerat nisl risus, in
                                    scelerisque lorem interd.
                                    massa.</p>
                                <p class="history-text">Morbi mi massa, condimentum in imperdiet vel, pretium at nisl. Lorem ipsum dolor sit
                                    amet, consectetur adipissa. Pellentesque sit amet sapien
                                    augue. Vivamus tincidunt libero dolor, ac lacinia lacus volutpat ac. Aliquam erat
                                    volutpat.<br>Morbi mi massa, condimentum in imperdiet vel, pretium at nisl. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Curabitur
                                    nec est
                                    Aliquam erat volutpat.</p>
                            </div><!-- /.content-wrap -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
                <div class="col-md-6 col-sm-4 image-container">
                    <div class="image-holder" style="background: url(/../ted/public/images/bg.jpg);"></div>
                </div><!-- /.col-md-6 -->
            </div>
        </section>

        <section class="roll-row" style="background-color: #191d20">
            <div class="aside-image">
                <div class="col-md-6 col-sm-4 image-container">
                    <img src="/../ted/public/images/chef.png" alt="image"
                         style="float: right; position: absolute; z-index: 999; right: 50px; bottom: -115px;height: 520px">
                </div><!-- /.col-md-6 -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6 col-sm-12">
                            <div class="content-wrap">
                                <h2 class="text-white">Why <strong>choose</strong> us?</h2>
                                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                    justo nunc, aliquam mollis tristique ac, egestas nec quam. Nam tempus vulputate
                                    lorem, eget imperdiet tortor tincidunt eu. Morbi nulla est, egestas et justo ornare,
                                    mollis consectetur velit. Pellentesque congue venenatis orci, a dignissim metus.
                                    Aenean a nunc ac massa semper dapibus. Duis a pretium mi. In in pulvinar velit. Sed
                                    tincidunt convallis tortor vitae rhoncus. Aenean vitae sem quis nulla cursus
                                    pulvinar ac congue massa. Duis vitae turpis ornare, fringilla massa hendrerit,
                                    sagittis eros. Nam velit sapien, hendrerit et imperdiet quis, dapibus at risus.
                                    Praesent quis vehicula ipsum, a commodo massa. Donec dignissim quam ac elit
                                    vestibulum, id laoreet turpis sollicitudin. Donec fermentum, enim in pellentesque
                                    rhoncus, magna felis aliquam lorem, in aliquam urna dolor a diam. Donec non mi vitae
                                    diam elementum rutrum. Vestibulum nec molestie sapien.</p>
                            </div><!-- /.content-wrap -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
        </section>

        <section class="roll-row" style="background-color: #ececec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="roll-titlebox">
                            <h1 class="maintitle"><strong>Most popular</strong> articles about <strong>food!</strong>
                            </h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur libero
                                nisi, vitae sodales augue pellentesque eu. Duis ac lacinia neque, sit amet imperdiet
                                mauris. Aliquam semper sed purus eget sagittis. Duis eget consequat nisl. Ut commodo non
                                nunc quis luctus. Maecenas non varius nibh. In luctus libero consequat, fermentum risus
                                a, commodo justo.</p>
                        </div><!-- /.roll-titlebox -->
                        <div class="roll-spacer"></div>
                    </div><!-- /.col-md-12 -->
                    <div class="team-group">
                        <div class="col-xs-6 col-md-3">
                            <div class="roll-team">
                                <div class="avatar">
                                    <img src="/../ted/public/images/team/member1.png" alt="image">
                                </div>
                                <h3 class="name">Johnny Bravo</h3>
                                <p class="position">Hamburgers</p>
                            </div><!-- /.roll-team -->
                        </div><!-- /.col-md-3 -->
                        <div class="col-xs-6 col-md-3">
                            <div class="roll-team">
                                <div class="avatar">
                                    <img src="/../ted/public/images/team/member1.png" alt="image">
                                </div>
                                <h3 class="name">Johnny Bravo</h3>
                                <p class="position">Hamburgers</p>
                            </div><!-- /.roll-team -->
                        </div><!-- /.col-md-3 -->
                        <div class="col-xs-6 col-md-3">
                            <div class="roll-team">
                                <div class="avatar">
                                    <img src="/../ted/public/images/team/member1.png" alt="image">
                                </div>
                                <h3 class="name">Johnny Bravo</h3>
                                <p class="position">Hamburgers</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="roll-team">
                                <div class="avatar">
                                    <img src="/../ted/public/images/team/member1.png" alt="image">
                                </div>
                                <h3 class="name">Johnny Bravo</h3>
                                <p class="position">Hamburgers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="roll-row parallax parallax-bg5">
            <div class="mask"></div>
            <div class="container">
                <div class="row">
                    <div class="content-section">
                        <div class="col-md-12">
                            <div class="roll-callout-box">
                                <div class="callout-wrap">
                                    <div class="content">
                                        <h3 class="text-white">You <strong>fascinated</strong> by our
                                            <strong>history</strong>?<br><strong>Check</strong> out our
                                            <strong>menu</strong>!</h3>
                                    </div>
                                    <div class="buttons">
                                        <a href="{{ path_for('menu-page') }}" class="roll-button border white">Check the
                                            menu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}