{% extends 'templates/app.twig' %}




{% block content %}

    <section class="page-slider parallax-bg3 parallax">
        <div class="mask"></div>

        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <a href="{{ path_for('home-page') }}">Home</a> / Gallery
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="roll-titlebox">
                        <h1 class="maintitle"><strong>Highlights</strong> in our gallery</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur libero nisi, vitae sodales augue pellentesque eu. Duis ac lacinia neque, sit amet imperdiet mauris. Aliquam semper sed purus eget sagittis. Duis eget consequat nisl. Ut commodo non nunc quis luctus. Maecenas non varius nibh. In luctus libero consequat, fermentum risus a, commodo justo.</p>
                    </div>
                </div><!-- /.col-md-12 -->
                <div class="col-md-12">
                    <div class="galleries-masonry">
                        <div class="galleries-container">
                            <div class="item gallery w3">
                                <div class="featured-post">
                                    <a class="fancybox" rel="group" href="/../ted/public/images/gallery-image.jpg">
                                        <div class="overlay">
                                            <div class="link"></div>
                                        </div>
                                        <img src="/../ted/public/images/gallery-image.jpg" alt="image">
                                    </a>
                                </div>
                            </div><!-- /.gallery -->
                            <div class="item gallery w3">
                                <div class="featured-post">
                                    <a class="fancybox" rel="group" href="/../ted/public/images/gallery-image.jpg">
                                        <div class="overlay">
                                            <div class="link"></div>
                                        </div>
                                        <img src="/../ted/public/images/gallery-image.jpg" alt="image">
                                    </a>
                                </div>
                            </div><!-- /.gallery -->
                            <div class="item gallery w3">
                                <div class="featured-post">
                                    <a class="fancybox" rel="group" href="/../ted/public/images/gallery-image.jpg">
                                        <div class="overlay">
                                            <div class="link"></div>
                                        </div>
                                        <img src="/../ted/public/images/gallery-image.jpg" alt="image">
                                    </a>
                                </div>
                            </div><!-- /.gallery -->
                            <div class="item gallery w3">
                                <div class="featured-post">
                                    <a class="fancybox" rel="group" href="/../ted/public/images/gallery-image.jpg">
                                        <div class="overlay">
                                            <div class="link"></div>
                                        </div>
                                        <img src="/../ted/public/images/gallery-image.jpg" alt="image">
                                    </a>
                                </div>
                            </div><!-- /.gallery -->
                            <div class="item gallery w3">
                                <div class="featured-post">
                                    <a class="fancybox" rel="group" href="/../ted/public/images/gallery-image.jpg">
                                        <div class="overlay">
                                            <div class="link"></div>
                                        </div>
                                        <img src="/../ted/public/images/gallery-image.jpg" alt="image">
                                    </a>
                                </div>
                            </div><!-- /.gallery -->
                            <div class="item gallery w3">
                                <div class="featured-post">
                                    <a class="fancybox" rel="group" href="/../ted/public/images/gallery-image.jpg">
                                        <div class="overlay">
                                            <div class="link"></div>
                                        </div>
                                        <img src="/../ted/public/images/gallery-image.jpg" alt="image">
                                    </a>
                                </div>
                            </div><!-- /.gallery -->
                        </div><!-- /.galleries-container -->

                        <div class="load-more">
                            <a class="roll-button border w3" href="./ajax/g2.html" data-page="2">Load more</a>
                        </div><!-- /.load-more -->
                    </div><!-- /.galleries-masonry -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>




{% endblock  %}