{% extends 'templates/app.twig' %}


{% block content %}
    <!-- Top Slider -->
    <section class="top-slider">
        <div class="flexslider">
            <div class="flex-container">
                <div class="flexslider loading">
                    <ul class="slides">
                        <li class="slide1">
                            <div class="flex_caption">
                                <div class="heading1 align-center">
                                    <h1 class="FromRight easeInOutBack text-white boxed"><strong>100% Grilled beef</strong>
                                        and amazing chilli sauce</h1>
                                </div>
                                <div class="heading2 align-center">
                                    <h2 class="captionDelay2 FromBottomScale text-white">Check out the best deals</h2>
                                </div>
                                <div class="button1 align-center">
                                    <p class="captionDelay9 FromBottomRotateScale button"><a
                                                class="roll-button white border" href="#">View Menu</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="slide2">
                            <div class="flex_caption">
                                <div class="heading1 align-center">
                                    <h1 class="captionDelay2 FromTopRotate text-white boxed">Welcome</h1>
                                </div>
                                <div class="heading2 align-center">
                                    <h1 class="captionDelay4 FromTopRotate text-white boxed">to the</h1>
                                </div>
                                <div class="heading3 align-center">
                                    <h1 class="captionDelay6 FromTopRotate text-white boxed">Ted's</h1>
                                </div>
                                <div class="heading4 align-center">
                                    <h1 class="captionDelay8 FromTopRotate text-white boxed">Restaurant</h1>
                                </div>
                            </div>
                        </li>
                        <li class="slide3">
                            <div class="flex_caption">
                                <div class="heading1 align-center">
                                    <h1 class="FromLeft easeInOutExpo text-white"><strong>Hot pepperoni</strong> only in our
                                        restaurant!</h1>
                                </div>
                                <div class="heading2 align-center">
                                    <h2 class="captionDelay4 easeInOutExpo FromRight text-white">Feel the power of hell
                                        beef!</h2>
                                </div>
                                <div class="button1 align-center">
                                    <p class="captionDelay10 FromBottom easeOutBack button"><a
                                                class="roll-button white border" href="#">View Daily Specials</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- /.top-slider -->

    <!-- Entry Page -->
    <div class="entry-page">

        <section class="roll-row lastest-posts">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="roll-titlebox">
                            <h1 class="maintitle"><strong>Welcome</strong> on our  <strong>website</strong></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur libero nisi,
                                vitae sodales augue pellentesque eu. Duis ac lacinia neque, sit amet imperdiet mauris.
                                Aliquam semper sed purus eget sagittis. Duis eget consequat nisl. Ut commodo non nunc quis
                                luctus. Maecenas non varius nibh. In luctus libero consequat, fermentum risus a, commodo
                                justo.</p>
                        </div><!-- /.roll-titlebox -->
                        <div class="roll-spacer"></div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="aside-image right">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <div class="content-wrap">
                                <h2><strong>About us</strong></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis in ipsum eu
                                    pretium. Sed auctor augue at vestibulum euismod. Integer feugiat nisi id lectus rhoncus
                                    euismod ac vel urna. Nunc non venenatis magna, quis congue justo. Cras rhoncus arcu
                                    dolor, vitae semper elit tincidunt vel. Cras placerat nisl risus, in scelerisque lorem
                                    interdum et. Mauris malesuada, mauris at iaculis lacinia, lacus massa ornare ligula, eu
                                    ornare lorem leo nec dolor. Duis sit amet imperdiet massa.</p>
                                <p>Morbi mi massa, condimentum in imperdiet vel, pretium at nisl. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Aliquam erat volutpat. Curabitur nec est quis eros
                                    rhoncus molestie.</p>
                                <div class="roll-spacer verysmall"></div>
                                <p class="text-center"><a class="roll-button border" href="#">View menu</a></p>
                                <div class="roll-spacer verysmall"></div>
                            </div><!-- /.content-wrap -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
                <div class="col-md-6 col-sm-4 image-container roll-animation" data-animation="fadeInRight"
                     data-animation-delay="0" data-animation-offset="75%">
                    <div class="image-holder" style="background: url(images/bg4.jpg);"></div>
                </div><!-- /.col-md-6 -->
            </div>

            <div class="roll-posts-carousel">
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s1.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s2.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s3.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s4.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s5.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s6.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s7.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s8.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s1.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s2.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s3.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s4.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s5.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s6.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s7.jpg" alt="image">
                    </a>
                </div>
                <div class="item">
                    <a class="item-wrap" href="#">
                        <div class="overlay">
                            <div class="link"></div>
                        </div>
                        <img src="images/s8.jpg" alt="image">
                    </a>
                </div>
            </div>
        </section>


        <section class="roll-row enjoy-meal">
            <div class="aside-image">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="content-wrap">
                                <h2 class="text-white"><strong>Enjoy your meal!</strong></h2>
                                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                    mollis in ipsum eu pretium. Sed auctor augue at vestibulum euismod. Integer feugiat nisi
                                    id lectus rhoncus euismod ac vel urna. Nunc non venenatis magna, quis congue justo. Cras
                                    rhoncus arcu dolor, vitae semper elit tincidunt vel. Cras placerat nisl risus, in
                                    scelerisque lorem interdum et. </p>
                                <div class="roll-spacer small"></div>

                                <div class="roll-newsletter">
                                    <h3 class="text-white">Stay up to date! <strong>Subscribe to us!</strong></h3>
                                    <p style="margin-bottom: 0" class="text-light">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus mollis in ipsum eu pretium. Sed auctor augue at vestibulum
                                        euismod. Integer feugiat nisi id lectus rhoncus euismod ac vel urna.</p>
                                    <form method="post" action="#" id="subscribe-form" data-mailchimp="true">
                                        <div id="subscribe-content">
                                            <div class="input">
                                                <input type="text" id="subscribe-email" name="subscribe-email"
                                                       placeholder="Enter your e-mail address">
                                            </div>
                                            <div class="button">
                                                <button type="button" id="subscribe-button" class="" title="Subscribe now">
                                                    Subscribe
                                                </button>
                                            </div>
                                        </div>
                                        <div id="subscribe-msg"></div>
                                    </form>
                                </div>
                            </div><!-- /.content-wrap -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
                <div class="col-md-6 col-sm-4 col-md-offset-6 image-container roll-animation" data-animation="slideInUp"
                     data-animation-delay="0" data-animation-offset="75%">
                    <img class="img-chef6" src="images/chef6.png" alt="image">
                </div><!-- /.col-md-6 -->
            </div>
        </section>


    </div><!-- /.entry-page -->



{% endblock %}