{% extends 'templates/app.twig' %}

{% block content %}
    <section class="page-slider parallax-bg3 parallax">
        <div class="mask"></div>

        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <a href="{{ path_for ('home-page') }}">Home</a> / Menu
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Entry Page -->
    <div class="entry-page">
        <section class="roll-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="roll-titlebox">
                            <h1 class="maintitle">Meet our <strong>specials!</strong></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur libero
                                nisi, vitae sodales augue pellentesque eu. Duis ac lacinia neque, sit amet imperdiet
                                mauris. Aliquam semper sed purus eget sagittis. Duis eget consequat nisl. Ut commodo non
                                nunc quis luctus. Maecenas non varius nibh. In luctus libero consequat, fermentum risus
                                a, commodo justo.</p>
                        </div>
                        <div class="roll-spacer large"></div>
                    </div><!-- /.col-md-12 -->
                    <div class="col-md-12">
                        <div class="roll-menu">
                            <ul class="food-filter">
                                <li><a data-filter=".sandwiches" href="#">Sandwiches</a></li>
                                <li><a data-filter=".pita-sandwiches" href="#">Pita Sandwiches</a></li>
                                <li><a data-filter=".side-orders" href="#">Side Orders</a></li>
                                <li><a data-filter=".salads" href="#">Salads</a></li>
                                <li><a data-filter=".dinners" href="#">Dinners</a></li>
                                <li><a data-filter=".kids-meals" href="#">Kids Meals</a></li>
                                <li><a data-filter=".drinks" href="#">Drinks</a></li>
                            </ul><!-- /.food-filter -->
                            <div class="food-discount clearfix">
                                <div class="combo">
                                    <img src="/../ted/public/images/chef4.png" alt="image">
                                    <h4>Make any Sandwich a Combo!</h4>
                                </div>
                                <div class="food-name">
                                    <h3>Add any side item & a 16oz beverage for $2.89!</h3>
                                </div>
                            </div><!-- /.food-discount -->
                            <div class="food-wrap">

                                <!-- Sandwiches -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Hamburger classic</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$2.65</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Cheeseburger</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$2.89</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item added sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Double Hamburger</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$3.45</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Double Cheeseburger</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$3.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Bologna</h3>
                                        </div>
                                        <div class="food-detail">
                                            With mayo, lettuce, tomato & onions or mustard, slaw, chill & onions
                                        </div>
                                        <div class="food-price">
                                            <span>$2.99</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Hot Dog</h3>
                                        </div>
                                        <div class="food-detail">
                                            With mustard, slaw, chill & onions
                                        </div>
                                        <div class="food-price">
                                            <span>$2.65</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Bar-B-Que</h3>
                                        </div>
                                        <div class="food-detail">
                                            With slaw & BBQ Sauce
                                        </div>
                                        <div class="food-price">
                                            <span>$4.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Ham</h3>
                                        </div>
                                        <div class="food-detail">
                                            With mayo, lettuce & tomato (cheese + 50&#162;)
                                        </div>
                                        <div class="food-price">
                                            <span>$3.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fish Filet</h3>
                                        </div>
                                        <div class="food-detail">
                                            (Cod, Flounder or Tilapia) with tartar sauce & slaw
                                        </div>
                                        <div class="food-price">
                                            <span>$4.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Chicken Breast</h3>
                                        </div>
                                        <div class="food-detail">
                                            With mayo, lettuce & tomato
                                        </div>
                                        <div class="food-price">
                                            <span>$4.95</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Cheese</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$2.65</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chicken Salad</h3>
                                        </div>
                                        <div class="food-detail">
                                            With mayo, lettuce
                                        </div>
                                        <div class="food-price">
                                            <span>$4.25</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chuckwagon</h3>
                                        </div>
                                        <div class="food-detail">
                                            With mayo, lettuce & tomato
                                        </div>
                                        <div class="food-price">
                                            <span>$4.30</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>BLT</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$3.90</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Rib Eye</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$6.25</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->

                                <!--  End Sandwiches -->

                                <!--  Pita Sandwiches -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Gyro Pita </h3>
                                        </div>
                                        <div class="food-detail">
                                            With lettuce, tomato, onions & special sauce
                                        </div>
                                        <div class="food-price">
                                            <span>$5.15</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Chicken Breast Pita </h3>
                                        </div>
                                        <div class="food-detail">
                                            With lettuce, tomato & mayo
                                        </div>
                                        <div class="food-price">
                                            <span>$5.59</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chicken Salad Pita </h3>
                                        </div>
                                        <div class="food-detail">
                                            With lettuce & mayo
                                        </div>
                                        <div class="food-price">
                                            <span>$4.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item added pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Ham & Cheese Pita</h3>
                                        </div>
                                        <div class="food-detail">
                                            With lettuce, tomato & mayo
                                        </div>
                                        <div class="food-price">
                                            <span>$4.65</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Double Cheeseburger Pita </h3>
                                        </div>
                                        <div class="food-detail">
                                            With lettuce, tomato, onions & mayo
                                        </div>
                                        <div class="food-price">
                                            <span>$4.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Souvlaki</h3>
                                        </div>
                                        <div class="food-detail">
                                            With onions, peppers & special sauce
                                        </div>
                                        <div class="food-price">
                                            <span>$5.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chicken Fiesta </h3>
                                        </div>
                                        <div class="food-detail">
                                            With onions, peppers & special sauce
                                        </div>
                                        <div class="food-price">
                                            <span>$5.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Veggie Pita </h3>
                                        </div>
                                        <div class="food-detail">
                                            With lettuce, tomato, onions, picklets, cheese & special sauce
                                        </div>
                                        <div class="food-price">
                                            <span>$3.99</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Philly Cheese Steak Pita </h3>
                                        </div>
                                        <div class="food-detail">
                                            With mayo, grilled onions, lettuce, tomato & provolone cheese
                                        </div>
                                        <div class="food-price">
                                            <span>$5.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chicken Philly Pita </h3>
                                        </div>
                                        <div class="food-detail">
                                            With mayo, grilled onions, lettuce, tomato & provolone cheese
                                        </div>
                                        <div class="food-price">
                                            <span>$5.15</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item pita-sandwiches">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fish Pita </h3>
                                        </div>
                                        <div class="food-detail">
                                            With tartar sauce & slaw
                                        </div>
                                        <div class="food-price">
                                            <span>$5.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <!--  End Pita Sandwiches -->


                                <!-- Side Orders -->

                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>French Fries</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            Sm<span> $1.99</span>
                                            Lg <span> $2.99</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->

                                <div class="food-item added side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Onion Rings.</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            Sm<span> $2.99</span>
                                            Lg <span> $3.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Pita Bread</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span> 0.99&#162;</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Potato Salad</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Cole Slaw</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Salad</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Apple Sauce</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Parsley Potatoes</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Green Beans</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Pinto Beans</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Rice</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fried Squash</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item side-orders">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fried Okra</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$1.75</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <!-- End Side Orders -->


                                <!-- Salads -->
                                <div class="salads desc-salads">
                                    <div class="food-item-wrap clearfix">

                                        <div class="food-detail" style="  text-align: center;   float:left;
    width: 100%;">
                                            <p> Choice of Dressings: 1,000 Island, Creamy Greek, Ranch or Honey Mustard
                                                Extra Dressing sm 35&#162; lg 60&#162;</p>

                                        </div>

                                    </div>
                                </div><!-- /.food-item -->

                                <div class="food-item salads">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Tossed Salad</h3>
                                        </div>
                                        <div class="food-detail">
                                            Served with tomatoes, onions & pickles
                                        </div>
                                        <div class="food-price">
                                            <span>$3.89</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item salads">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chef Salad</h3>
                                        </div>
                                        <div class="food-detail">
                                            Served with ham, cheese, eggs, tomatoes, onions & pickles
                                        </div>
                                        <div class="food-price">
                                            <span>$6.25</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item added salads">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Chicken Chef Salad</h3>
                                        </div>
                                        <div class="food-detail">
                                            Served with cheese, eggs, tomatoes, onions & pickles
                                        </div>
                                        <div class="food-price">
                                            <span>$7.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item salads">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Greek Salad</h3>
                                        </div>
                                        <div class="food-detail">
                                            Served with feta cheese, greek peppers, black olives, onions, tomatoes & pickles
                                        </div>
                                        <div class="food-price">
                                            <span>$6.79</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item salads">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chicken Salad Cold Plate</h3>
                                        </div>
                                        <div class="food-detail">
                                            Served potato salad, sliced tomatoes, cheese, eggs & pickles
                                        </div>
                                        <div class="food-price">
                                            <span>$6.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <!-- End Salads -->

                                <!-- Dinners -->
                                <div class="dinners desc-salads">
                                    <div class="food-item-wrap clearfix">

                                        <div class="food-detail" style="  text-align: center;   float:left;
    width: 100%;">
                                            <p> Served with Cole Slaw, FF & Dinner Roll or 2 Veggies</p>

                                        </div>

                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Steak Fingers</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$6.79</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item added dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chicken Livers </h3>
                                        </div>
                                        <div class="food-detail">
                                                    ( fried or grecian )
                                        </div>
                                        <div class="food-price">
                                            <span>$6.85</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Beef Liver</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$6.59</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Golden Fried Chicken</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                           (1/4) <span>$6.19</span>
                                            (1/2) <span>$8.19</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Bar-B-Que Plate</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$7.99</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Chicken Breast</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                         <span>$7.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Hamburger Steak</h3>
                                        </div>
                                        <div class="food-detail">
                                                (gravy or grilled onions)
                                        </div>
                                        <div class="food-price">
                                             <span>$7.99</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fried Shrimp Plate</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                           <span>$8.35</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fried Filet of Cod</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                          Sm <span> $7.39</span>
                                            Lg <span> $8.35</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fried Filet of Flounder</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$8.45</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fried Tilapia</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$6.99</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fried Fish & Shrimp Combo</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$9.35</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Fried Chicken Fingers</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$7.35</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Tenderloin Tips served over rice</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$8.35</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item dinners">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chicken Tips served over rice</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$8.25</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <!-- End Dinners -->

                                <!-- Kids Meals -->
                                <div class="kids-meals desc-salads">
                                    <div class="food-item-wrap clearfix">

                                        <div class="food-detail" style="  text-align: center;   float:left;
    width: 100%;">
                                            <p> Served with FF and Sm Drink</p>

                                        </div>

                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item kids-meals">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Hamburger</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$4.25</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item kids-meals">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Cheeseburger</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$4.50</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item kids-meals">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Hot Dog</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$3.99</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item added kids-meals">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Grilled Cheese</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$3.99</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item kids-meals">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Chicken Fingers</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$4.69</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item kids-meals">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Kids Fish</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$4.69</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <div class="food-item kids-meals">
                                    <div class="food-item-wrap clearfix">
                                        <div class="food-name">
                                            <h3>Kids Shrimp</h3>
                                        </div>
                                        <div class="food-detail">

                                        </div>
                                        <div class="food-price">
                                            <span>$4.69</span>
                                        </div>
                                    </div>
                                </div><!-- /.food-item -->
                                <!--End Kids Meals -->

                            </div><!-- /.food-wrap -->
                        </div><!-- /.roll-menu -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>

        <!-- Parallax -->
        <section class="roll-row parallax parallax-bg6">
            <div class="mask"></div>
            <div class="container">
                <div class="row">
                    <div class="content-section">
                        <div class="col-md-12">
                            <div class="roll-callout-box">
                                <div class="callout-wrap">
                                    <div class="content">
                                        <h3 class="text-white">We wish
                                            you bon <strong>appetit!</strong><br><strong>Thank you</strong> for visiting us<br></h3>
                                    </div>
                                    <div class="buttons">
                                        <a href="#" class="roll-button border white">View Daily Specials</a>
                                    </div>
                                </div>
                            </div><!-- /.roll-callout-box -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.content-section -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
    </div><!-- /.entry-page -->



{% endblock %}