{% extends 'templates/app.twig' %}

{% block content %}
    <section class="page-slider parallax-bg1 parallax">
        <div class="mask"></div>

        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <a href="{{ path_for('home-page') }}">Home</a> / Daily Specials
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="roll-titlebox">
                        <h1 class="maintitle"><strong>Daily Special in </strong> our  <strong>restaurant!</strong></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur libero nisi, vitae sodales augue pellentesque eu. Duis ac lacinia neque, sit amet imperdiet mauris. Aliquam semper sed purus eget sagittis. Duis eget consequat nisl. Ut commodo non nunc quis luctus. Maecenas non varius nibh. In luctus libero consequat, fermentum risus a, commodo justo.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="daily-special">
                        <ul class="days">
                            <li class="mon"><a data-filter=".monday" href="#">Monday<br> <img src="/../ted/public/images/chicken-rice.png" width="100" alt=""></a></li>
                            <li class="tue"><a data-filter=".tuesday" href="#">Tuesday <br><img src="/../ted/public/images/fried-chicken.png" width="100" alt=""></a></li>
                            <li class="wed"><a data-filter=".wednesday" href="#">Wednesday<br><img src="/../ted/public/images/cheeseburger.png" width="100" alt=""></a></li>
                            <li class="thu"><a data-filter=".thursday" href="#">Thursday<br><img src="/../ted/public/images/plate.png" width="100" alt=""></a></li>
                            <li class="fri"><a data-filter=".friday" href="#">Friday<br><img src="/../ted/public/images/shrimp.png" width="100" alt=""></a></li>
                            <li class="sat"><a data-filter=".saturday" href="#">Saturday<br><img src="/../ted/public/images/burger.png" width="100" alt=""></a></li>
                        </ul>

                        <div class="daily-food">

                            <div class="item food monday wednesday friday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Grecian Chicken over Rice<span style="font-size: 20px;float: right"> $7.25</span></a></h2>
                                </div>
                            </div>

                            <div class="item food tuesday thursday saturday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>1/4 Fried Chicken<span style="font-size: 20px;float: right"> $5.89</span></a></h2>
                                </div>
                            </div>

                            <div class="item food tuesday thursday saturday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Hamburger Steak<span style="font-size: 20px;float: right"> $6.99</span></a></h2>
                                </div>
                            </div>

                            <div class="item food tuesday thursday saturday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Bar-B-Que Plate<span style="font-size: 20px;float: right"> $7.19</span></a></h2>
                                </div>
                            </div>

                            <div class="item food tuesday thursday saturday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Tenderloin Tips<span style="font-size: 20px;float: right"> $7.69</span></a></h2>
                                </div>
                            </div>

                            <div class="item food tuesday thursday saturday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Chicken Salad Pita<span style="font-size: 20px;float: right"> $5.69</span></a></h2>
                                </div>
                            </div>


                            <div class="item food wednesday friday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Fried Fillet of Cod (Large)<span style="font-size: 20px;float: right"> $7.99</span></a></h2>
                                </div>
                            </div>


                            <div class="item food wednesday friday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Fillet of Flounder<span style="font-size: 20px;float: right"> $7.39</span></a></h2>
                                </div>
                            </div>

                            <div class="item food wednesday friday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Fried Shrimp<span style="font-size: 20px;float: right"> $7.95</span></a></h2>
                                </div>
                            </div>


                            <div class="item food monday wednesday friday tuesday thursday saturday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a>Super Cheeseburger<span style="font-size: 20px; float: right"> $5.49</span></a></h2>
                                </div>
                            </div>


                            <div class="item food w3 monday wednesday friday tuesday thursday saturday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a style="font-size: 12px;">Super Bacon Cheeseburger<span style="font-size: 20px;float: right"> $6.99</span></a></h2>
                                </div>
                            </div>

                            <div class="item food w3 monday wednesday friday tuesday thursday saturday">
                                <div class="content-of-food">
                                    <a>
                                        <img src="/../ted/public/images/special.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="content-of-food-text">
                                    <h2><a style="font-size: 12px;">Fried Chicken Fiiled Sandwich<span style="font-size: 20px;float: right"> $5.25</span></a></h2>
                                </div>
                            </div>







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Parallax -->
    <section class="roll-row parallax parallax-bg2">
        <div class="mask"></div>
        <div class="container">
            <div class="row">
                <div class="content-section">
                    <div class="col-md-12">
                        <div class="roll-callout-box">
                            <div class="callout-wrap">
                                <div class="content">
                                    <h3 class="text-white">We prepare<strong> large orders</strong> for <br> your <strong> home</strong> or <strong> office</strong> party!</h3>
                                </div>
                                <div class="buttons">
                                    <a href="{{ path_for('menu-page') }}" class="roll-button border white">Back to menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}