{% extends 'templates/app.twig' %}

{% block content %}
    <section class="page-slider parallax-bg1 parallax">
        <div class="mask"></div>

        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <a href="{{ path_for('home-page') }}">Home</a> / Daily Specials
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






{% endblock %}